.character-container {
    margin: 75px 150px 75px 150px;
    &.small_desktop {
        margin: 75px 75px 75px 75px;
    }
    &.tablet {
        margin: 75px 50px 75px 50px;
    }
    &.mobile {
        margin: 75px 25px 75px 25px;
    }
}
