.normals-container {
    margin-top: 75px;
    margin-bottom: 75px;

    & .normals-header {
        justify-content: center;
        display: flex;
        margin-bottom: 25px;
        & .admin-button {
            position: relative;
            left: 50px;
        }
    }

    & .normal-card {
        width: 90%;
        margin: 15px auto 0px auto;
        align-items: center;
        & .normal-details {
            display: flex;
            flex-direction: column;
            & .normal-content {
                display: flex;
                align-items: center;
                padding: 24px 24px 24px 24px;
                & .normal-image {
                    width: 615px;
                    display: flex;
                    min-width: 300px;
                    & img{
                        max-height: 300px;
                        vertical-align: middle;
                        max-width: 100%;
                        margin: 0 auto 0 auto
                    }
                }
                
                & .normal-data {
                    width: 100%;
                    margin: auto 0px auto 0px;
                    display: flex;
                    flex-direction: column;
                    & .MuiTableContainer-root {
                        overflow-wrap: break-word;
                        & .notes-row {
                            & td {
                                height: 65px;
                            }
                        }
                    }
                    & .admin-button {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        height: 35px;
                        & button {
                            max-height: 35px;
                        }
                    }
                }
            }
            & .normal-graph {
                margin: 15px auto 15px auto;
            }
        }
    }   
}