.header-bar {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    & .links-container {
        width: 80%;
        display: flex;
        margin: 0px 20px 0px 20px;
        & .home-container {
            margin: 0px 10px 0px 10px;
        }
        & .character-container {
            margin: 0px 10px 0px 10px;
        }
        & .universal-page-container {
            margin: 0px 10px 0px 10px;
        }
        & .learning-page-container {
            margin: 0px 10px 0px 10px;
        }
    }
    & .user-container {
        display: flex;
        justify-content: center;
        width: 200px;
        float: right;
        margin: 0px 10px 0px 10px;
    }
}

.MuiList-root {
    display: flex;
    & ul {
        padding: 8px 8px 8px 8px;
    }
    & li {
        height: 90px;
        width: 115px;
        padding: 0px 0px 0px 0px;

        & img {
            max-width:100%;
            max-height:100%;
        }
    }
}