.header-bar {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    & .links-container {
        width: 100vw;
        display: flex;
        margin: 0px 20px 0px 20px;
        & .home-container {
            margin: 0px 10px 0px 10px;
            width: 75px;
        }
        & .character-container {
            margin: 0px 10px 0px 10px;
            width: 125px;
            & button {
                color: #007bff;
                text-decoration: none;
                background-color: transparent;
                border: none;
            }
            & button:hover {
                color: #0056b3;
                text-decoration: underline;
            }
            & button:focus {
                border: none;
                outline: none;
            }
        }
        & .universal-page-container {
            margin: 0px 10px 0px 10px;
            width: 125px;
        }
        & .learning-page-container {
            margin: 0px 10px 0px 10px;
            width: 125px;
        }
    }
    & .user-container {
        display: flex;
        justify-content: center;
        width: 300px;
        float: right;
        margin: 0px 10px 0px 10px;
        & button {
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        & button:hover {
            color: #0056b3;
            text-decoration: underline;
        }
        & button:focus {
            border: none;
            outline: none;
        }
    }
}

.MuiList-root {
    display: flex;
    & ul {
        padding: 8px 8px 8px 8px;
    }
    & li {
        height: 90px;
        width: 115px;
        padding: 0px 0px 0px 0px;

        & img {
            max-width:100%;
            max-height:100%;
        }
    }
}